services:
  app:
    depends_on:
      database:
        condition: service_healthy
    image: ghcr.io/oskarbarcz/flight-tracker-api
    build:
      context: .
      target: development
    env_file:
      - .env
    volumes:
      - .:/app
      - ./node_modules:/app/node_modules
    ports:
      - '80:3000'
    healthcheck:
      test: 'curl --fail http://localhost:3000/api || exit 1'
      interval: 500ms
      retries: 3600
      start_period: 3s
      timeout: 500ms

  database:
    image: postgres:16.2
    environment:
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: 'pass'
      POSTGRES_DB: 'app'
    ports:
      - '5432:5432'
    healthcheck:
      test: 'pg_isready -U user -d app'
      interval: 1s
      timeout: 500ms
      retries: 30

  adsb-mock:
    image: mockserver/mockserver:mockserver-5.15.0
    ports:
      - '1080'
    volumes:
      - ./docker/mock:/config
    environment:
      - MOCKSERVER_INITIALIZATION_JSON_PATH=/config/adsb.json
